# config file for coverage
[run]
branch = True
omit =
    env/*
    seed_data/*
    logs/*
    sample_data.py
    seed.py
    tests.py
source = .
[report]
exclude_lines =
    def __repr__ 
    if __name__ == .__main__.: 
    import
    except:
    from
