<!doctype html>
<html>
<head>
    <title>ReadingCoach</title>
</head>
<body>

{% if "user_id" in session %}
    <a href="/logout">Logout</a>
    <a href="/record">Record reading minutes</a>
    <a href="/dashboard">View your reader's progress</a>
    {{ session["user_id"] }}
{% elif "admin" in session %}
    <a href="/logout">Logout</a>
    <a href="/progress-view">View Student Progress</a>
    {{ session["admin"] }}
{% else %}
    <a href="/login">Parent or CareGiver Login</a>
    <a href="/register">Register as a parent or CareGiver</a>
    <a href="/login-admin">Login to Teacher/Admin Portal</a>
{% endif %}

<hr>

{% for flash in get_flashed_messages() %}
  {{ flash }}
{% endfor %}

{% block content %}
    Put your body here.
{% endblock %}

</body>
</html>