{% extends 'base.html' %}
{% block content %} 
<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <form action="/save-settings" method="POST">
        <h3>Settings for phone {{ coach.phone }}</h3>
        <br>
        <br>
        <label>Change Password:
            <input type="password" name="password" id="password">
        </label>
        <br>
        <br>
        <br>
        <label for="sms">Change Text Message Reminder option. Your current setting is {{ coach.sms_option}}:</label>
                <br>
                <input type="radio" name="yesorno" value="yes" id="sms_option">Yes, please send me text message reminders!
                <input type="radio" name="yesorno" value="no" id="sms_option">No, thank you.
        <br>
        <br>
        <br>
            <input class="btn btn-primary" type="submit" id="submit" value="Save Changes">
        </form>
        <br><br><br><br><br>
            <button class="btn-primary" id="back" onclick="location.href='/record'" value="back">Return without making changes</button>
        </div>
    </div>
</div
{% endblock %}
