{% extends 'base.html' %}
{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"> </script>
<script src="https://code.jquery.com/jquery.js"></script>

    {% for reader in coach.readers %}
        <h1>{{ reader.first_name }}'s Reading Progress</h1>
        <input type="hidden" name="reader_id" id="reader_id" value="{{reader.reader_id}}">
        <div class="reader-progress-chart">
        <canvas id="barChart" width="1200" height="600"></canvas>
        <button id="time_period">Show all</button>
        <script>
            // Initialize some chart variables
            var options = { responsive: false, maintainAspectRatio: true};

            var ctx_bar = $("#barChart").get(0).getContext("2d");

            // function toggles chart display and button text
            function toggleDataDisplay(evt) {
                if ($('#time_period').text() === "Show all"){
                    $('#time_period').text("Show this week")
                    $.get("/reader-progress.json", {"reader_id": $("#reader_id").val(), "time_period": "all" }, function (data) {
                             var myBarChart = new Chart(ctx_bar).Bar(data,
                                                     options);
                    });
                } else {
                    $('#time_period').text("Show all")
                    $.get("/reader-progress.json", {"reader_id": $("#reader_id").val(), "time_period": "week" }, function (data) {
                             var myBarChart = new Chart(ctx_bar).Bar(data,
                                                     options);
                    });
                }
            }

            // evt handler for button click to toggle chart data display
            $('#time_period').click(toggleDataDisplay)

            // initial chart display last 7 days
            $.get("/reader-progress.json", {"reader_id": $("#reader_id").val(), "time_period": "week" }, function (data) {
                var myBarChart = new Chart(ctx_bar).Bar(data,
                                                     options);
            });

        </script>
    {% endfor %}
{% endblock %}