{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
      <div class="col-xs-12">
            <h2>Send reading logs to teachers and educators with a simple text message</h2>
            <br>
            <h3><i>Register now for 2018 Summer Reading Programs!</i><h3>
            <button class="btn-primary btn-lg" onclick="location.href='/verify'">Register</button>
            <img src="static/bookmagic.jpg" style="width:500px;height:351px;">
            <button class="btn-primary btn-lg" onclick="location.href='/login'">Login</button>
            <br>
            <br>
             <h3><center><a href="mailto:thereadingcoachapp@gmail.com"><span class="glyphicon glyphicon-pencil"></span></a>Contact The Reading Coach&nbsp; &nbsp;&nbsp; &nbsp;</center></h3>
        </div>
        
    </div>
</div>
<footer>
</footer>

{% endblock %}
