{% extends 'base.html' %}
{% block content %}


<h1>Welcome to The Reading Coach!</h1>
<h2>Parents and Caregivers</h2> 
<div>Turn your phone into a Reading Coach to help you and a child track reading progress!</div>
<br>
<br>
<h2>Teachers, Administrators, PTA Leaders and Librarians</h2> 
<div>Talk to us about setting up a program to track reading progress for classrooms, read-a-thons or Summer Reading programs!</div>

<div id="footer">
    {% block footer %}
    <h3><a href="mailto:thereadingcoachapp@gmail.com" target="_top">Contact us!</a></h3>
    {% endblock %}
</div>
{% endblock %}
