{% extends 'base.html' %}
{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

<div class="container">
    <div class="row">
      <div class="col-xs-9">
            <h2>Keep and share reading logs by sending text messages!</h2>
            <br>
            <h3><i>Register now for 2018 Summer Reading Programs</i><h3>
            <button class="btn-primary btn-lg" onclick="location.href='/login'">  Login  </button>
            <button class="btn-primary btn-lg" onclick="location.href='/verify'">Register</button>
            <img src="static/bookmagic.jpg" style="width:500px;height:351px;padding-top:50px">      
            <br>
            <br>
            <h3><center><a href="mailto:thereadingcoachapp@gmail.com"><span class="glyphicon glyphicon-pencil"></span></a>&nbsp;Contact The Reading Coach</center></h3>
        </div>
        
    </div>
</div>
<footer>
</footer>

{% endblock %}
