{% extends 'base.html' %}
{% block content %} 
<div class="container">
    <div class="row">
        <div class="col-xs-12">
        <form action="/process_admin_login" method="POST">
        <br>
        <br>
        <label>Email address:
            <input class="inputbox" type="text" name="email" required>
        </label>
        <br>
        <br>
        <label>Password:
            <input class="inputbox" type="password" name="password" required>
        </label>
            <br>
            <br>
            <input class="btn btn-primary" type="submit" value="Login">
        </form>
        </div>
    </div>
</div>

{% endblock %}