{% extends 'base.html' %}
{% block content %} 

<div class="container">
    <div class="row">
        <div class="col-xs-12">
        <form action="/login" method="POST">
        <h2>
        <br>
        <br>
        <label>Phone number:
            <input  class="inputbox" type="text" name="coach_phone" placeholder="xxx-xxx-xxxx" required>
        </label>
        <br>
         <small>Phone number used to register with The Reading Coach</small>
        <br>
        <br>
        <label>Password:
            <input class="inputbox" type="password" name="password" required>
        </label>
        <br>
        <br>
        <input class="btn btn-primary btn-lg" type="submit" value="Login">

        </h2>
        </form>
        </div>
    </div>
</div> 

{% endblock %}