{% extends 'base.html' %}
{% block content %} 

 <form action="/login" method="POST">
    <div>
        <br>
        <br>
        <label>Phone number:
            <input type="text" name="coach_phone" required>
        </label>
        <div>
            This will be the phone number you signed up with. Phone number must match the one from which you recieve text messages from ReadingCoach
        </div>
    </div>
    <br>
    <div>
        <label>Password:
            <input type="password" name="password" required>
        </label>
    </div>
    <br>
    <div>
        <input type="submit" value="Login">
    </div>

</form>

{% endblock %}