{% extends 'base.html' %}
{% block content %}

<!-- implement form to log reading minutes -->
<body>
   <h2> {{ session["coach"] }}</h2>

    <div>Congratulations! You've just signed up to keep a child on track with reading!</div>
    <br>
    <br>
    <h3> With your phone:</h3>
    <div>You'll receive daily text messages to remind you to log reading minutes</div><br>
    <div>And you can log minutes by sending a text message to:
        <p>650-753-5549</p>
        <p>Include the word "log" the number of minutes and your reader's name,</p>
        <p>Example: "log 10 Kassie" will add a reading log entry of 10 minutes for Kassie for today</p>
    </div>
    <br>
    <br>
    <h3> Here on the Reading Coach App:</h3>
    <div>You can start recording <a href="./record">reading minutes</a> right away!
        <p>You can record for multiple days</p>
    </div><br>
    <div>And you can view your <a href="/dashboard">reader's progress</a> all summer.</div>


    <div>Happy Reading!</div> 
</body>

{% endblock %}
