{% extends 'base.html' %}
{% block content %}
<script src="https://code.jquery.com/jquery.js"></script>
<div class="container">
    <div class="row">
        <div class="col-xs-3"> 
        <h3>Summer 2016 by the numbers</h3>
        <h4>The Reading Coach was used by</h4>
        <h2><font color="red">10</font> actual humans</h2>
        <h4><font color="blue">8</font> of whom were not related to me</h6>
        <h2>oh, and by <font color="orange">1</font> dog</h4>
        <h5>* he's head of QA</h5>
        </div>
        <div class="col-xs-3">
        <h2><font color="red">20,330 </font>minutes were recorded</h2>
        <h1>that's <font color="purple">339</font> hours</h1>
        <h3>or over <font color="orange">14 solid days</font> of reading</h3>
        <h5>no, that does not include the dog's minutes, and is adjusted for the <i><font color="red">500</font> Hats of Bartholomew Cubbins</i> bug</h5>
        <h3><font color="purple">452</font> reading logs were submitted, <font color="blue">222</font> of them via text msg</h3>
        </div>
        <div class="col-xs-3">
        <br>
        <h3>The program launched on June 9th and ran for <font color="purple">84</font> days</h3>
        <h2>That averages out to <font color="blue">242</font> minutes recorded per day</h2>
        <h3>or <font color="red">24</font> minutes per day per actual reading human being</h3>
        </div>
    </div>
</div>
{% endblock %}
