{% extends 'base.html' %}
{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"> </script>
<script src="https://code.jquery.com/jquery.js"></script>
    {% if admin.nameprefix.prefix == "Organization" %}
        <h1> {{admin.name}} Readers Report</h1>
    {% else %}
        <h1> {{admin.nameprefix.prefix}} {{admin.name}} Readers Report</h1>
    {% endif %}
        <input type="hidden" id="admin_id" value="{{admin.admin_id}}">
        <div class="admin-progress-chart"></div>
        <div id="barLegend" class="chart-legend"></div>
        <canvas id="barChart" width="1000" height="500"></canvas>
        <script>
            // Initialize some chart variables
            var options = { responsive: false, maintainAspectRatio: true};

            var ctx_bar = $("#barChart").get(0).getContext("2d");

            // chart display
            $.get("/admin-progress.json", {"admin_id": $("#admin_id").val() }, function (data) {
                var myBarChart = new Chart(ctx_bar).Bar(data,
                                                     options);
                $('#barLegend').html(myBarChart.generateLegend());

                $("#barChart").click( function(evt) {
                    var activePoints = myBarChart.getBarsAtEvent(evt);
                    var reader = activePoints[0].label;
                    $.get("/admin-reader-detail.json", {"reader": reader}, function (data){
                        var myBarChart = new Chart(ctx_bar).Bar(data, options);

                        $('#barLegend').html(myBarChart.generateLegend());
                    })
                })
            });

        </script>
{% endblock %}