{% extends 'base.html' %}
{% block content %}

<script src="https://code.jquery.com/jquery.js"></script>
<script src="../static/Chart.min.js"></script>
    {% if admin.nameprefix.prefix == "Organization" %}
        <h1 id="chart_name"> {{admin.name}} Readers Report</h1>
    {% else %}
        <h1 id="chart_name"> {{admin.nameprefix.prefix}} {{admin.name}} Readers Report</h1>
    {% endif %}
        <h2 id="chart_description">Average Daily Minutes by Reader</h2>
        <input type="hidden" id="admin_id" value="{{admin.admin_id}}">
        <div id="message_desc" hidden>Send a real-time text message to this reader</div>
        <form action="/send-sms-from-admin.json" id="sendmessage" method="post">
            <textarea id="messagebox" hidden rows="4" cols="40"  placeholder="Send encouragement, book suggestions or feedback" wrap="hard"></textarea>
            <input type="submit" id="submit" value="Send" hidden>
        </form>
        <div id="success_msg" hidden></div>
        <div class="admin-progress-chart"></div>
        <div id="canvas"></div>
        <button type="button" id="showbutton" onclick="location='/progress-view'" hidden>Return to All Students View</button>
        <br>
        <br>
        
        <script>
            // Initialize some chart variables
            var canvas_tag = '<canvas id="barChart" width="1000" height="500"></canvas>'

            // initial chart display
            $.get("/admin-progress.json", {"admin_id": $("#admin_id").val() }, function (data) {

                // clear the canvas
                $("#barChart").remove()
                $("#canvas").append(canvas_tag)

                // initialize chart
                var ctx_bar = $("#barChart").get(0).getContext("2d");
                // var options = { responsive: true, maintainAspectRatio: true};

                // draw chart
                var myBarChart = new Chart(ctx_bar, data);
           

                // event handler for clicking on a data bar in the chart
                $("#barChart").click( function(evt) {
                    var activePoints = myBarChart.getElementsAtEvent(evt);
                    var reader = activePoints[0]._model.label;
                    
                    // change the chart heading descriptor
                    $('#chart_name').html(reader)
                    $('#chart_description').html("Minutes read per day")

                    // clear the canvas
                    $("#barChart").remove()
                    $("#canvas").append(canvas_tag)

                    // re-initialize chart
                    var ctx_bar = $("#barChart").get(0).getContext("2d");
                    // var options = { responsive: true, maintainAspectRatio: true};

                    //draw new chart
                    $.get("/admin-reader-detail.json", {"reader": reader}, function (data){
                        var myBarChart = new Chart(ctx_bar, data);

                        // show button to return to all students view
                        $('#showbutton').show()

                        // show message box and submit button
                        $('#message_desc').show()
                        $('#messagebox').show() 
                        $('#submit').show()
                    });
                });
            });

            // messagebox submit event function
            function send_message(evt) {
                evt.preventDefault();
                console.log("here")

                var formInputs = {
                    "reader": $('#chart_description').html(),
                    "message_txt": $('#messagebox').val()
                };

                $.post("/send-sms-from-admin.json", formInputs, function (data){ 
                    $('#messagebox').val(data) });
                    // $('#success_msg').html(data).show() });
                $('#submit').prop('disabled', true)
            }
            // event listener for messagebox 
            $('#sendmessage').on("submit", send_message);

        </script>
{% endblock %}