{% extends 'base.html' %}
{% block content %}

<!-- implement form to log reading minutes -->
<body>
    {{ session["user_id"] }}
    <h2> Record Reading Minutes here</h1>
    <h1>Reader : {{ child.first_name}}</h2>
    <form action="/log_minutes" method="POST">
        <br>
        <label>Number of minutes read:
            <input type="text" name="minutes_read">
        </label>
        <br>
    <div>
        <input type="submit" value="Add to Reading Log">
    </div>

</form>
</body>

{% endblock %}