{% extends 'base.html' %}
{% block content %} 
<div class="container">
<div class="row">
<div class="col-xs-12">
    <script src="https://code.jquery.com/jquery.js"></script>
    <form action="/register_process" method="POST">
    <br>
    <br>

    <!--Screen one: Enter program code-->
    <span id="program_code_input">
        <h2>
        Ready to sign up? You will be able to log your reader's minutes with a text message!
        <br>
        <br>
        <label for="program_code">Enter your school's program code:
            <input class="inputbox" type="text" name="prog_code" id="pcode" required>
        <input type="button" class="btn-primary btn-lg" id="cont1" value="Continue">
        </h2>  
        <br>
        <img src="static/text_sample.png" style="width:400px;height:450px;">
    </span>

    <!--Screen two: Enter phone number/login and password-->
    <span id="phone_input" hidden>
        <h2>
            Enter a phone number where you can send and receive text messages
            <br>
            This will be your login/user id
            <br>
            <br>
            <label for="phone">Login/Phone #:
            <input class="inputbox" type="text" name="coach_phone" id="phone_num" placeholder="xxx-xxx-xxxx" required>
            </label> 
        </h2>
        <h3 class="text-center">
            US numbers only. This must be a text message enabled phone.
        </h3> 
        <br>
        <br>
        <h2>
        <label>Password:
            <input class="inputbox" type="password" name="password" id="password" required>
        </label>
        </h2>
        <h3 class="text-center">
            Password or Phrase (alpha, numeric, spaces and special characters allowed). 
            <br>
            Minimum 6 characters. Max 30 characters.
        </h3>
        <br>
        <br>
        <input type="button" class="btn-primary btn-lg" id="cont2" value="Next">
    </span>

    <!--Screen three: Input readers-->
    <span id="add_readers" hidden>
        <h2>
        <label>Reader's first name:
            <input class="reader_names" id="reader_names" type="text" name="reader_names">
        </label> 
        <br>
        <label>Teacher:
            <select name="admin_ids" class="form-control">
                {% for admin in admins %}
                     <option value="{{admin.admin_id}}">{{admin.nameprefix.prefix}} {{admin.name}}</option>
                {% endfor %}
            </select>
        </label>
        </h2>
        <br>
    </span>
    <span id="add_reader_button" hidden>
        <h3>
        <input type="button" class="btn-primary btn-lrg" value="Add another Reader" onClick="addReaders('add_readers');"> OR &nbsp; &nbsp;
        <input type="button" class="btn-primary btn-lrg" id="cont3" value="Continue with Registration">
        <br>
            You can add up to three Reader/Student names 
        </h3>
    </span> 

    <!--Screen four: Options! first, sms-->
    <span id="input_options" hidden>
        <h2>And lastly, a few optional settings. You can login and change these settings at any time. 
        <br>
        <br>
        <h3>
        &nbsp; &nbsp;We can send you text message reminders to log minutes twice a week.
        <br>
        <i>
        &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;NOTE: We will send you a one-time welcome text message to confirm registration.
        </i>
        <br>
        <label>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;Send Text message reminders?
        </label>
        <br>
            &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<input type="radio" name="yesorno" value="yes" id="sms_option">Yes, please send me reminders!
            <br>
            &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<input type="radio" name="yesorno" value="no" id="sms_option" checked>No, thank you.
        <br>
        <br>
        <br>

    <!--then second phone number-->
        &nbsp; &nbsp;You can enable another caregiver's phone number to log minutes:
        <br>
        <i>
            &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;NOTE: We will send a one-time welcome text message to this number to confirm registration.
        </i>
        <br>
        <label>
            &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;Enable a second phone number(optional) 
        </label>
            <input class="inputbox" type="text" name="alt_phone" id="phone_two" placeholder="xxx-xxx-xxxx">
        
        <p class="text-center">
        US numbers only. This must be a text message enabled phone.
        </p>

    <!--and then, email!-->
        <br>
        <br>
        <label>&nbsp; &nbsp;Email address (optional):
            <input type="text" class="inputbox" name="email" id="email">
        </label>
        </h3>
    </span>

    <!--Finally, submit-->
    <br><br>
    <span id = "submit_button" hidden>
        <input type="submit" class="btn-primary btn-lg" id="submit" value="Register">
    </span>

    </form>
    <script>
    // Screen one: program code
    // Handle a click event on continue button. 
    $(document).ready(function() {
        $('#cont1').on('click', function(){
        $('#program_code_input').hide();
        $('#phone_input').show(); 
        });
    });

    // Should verify program code is a match, store prog id for use in coach 
    // registration and then hide program_code_input and show phone_input

    // Screen two: phone and password
    // Prevent form submission until phone number mathes xxx-xxx-xxx pattern
    $(document).on( "click", "#cont2", function (evt){
        var phoneString = $('#phone_num').val(); 
        if (! /^[0-9]{3}-[0-9]{3}-[0-9]{4}$/.test(phoneString)) {
            evt.preventDefault();
            alert("Please enter a telephone number in the format xxx-xxx-xxxx");
        }
        else {
            $('#phone_input').hide();
            $('#add_readers').show();
            $('#add_reader_button').show();
        }
    });

    // Screen three: handlers for add additional readers
    var counter = 1;
    var max_readers = 2;
    function addReaders(divName){
        $('#add_reader_button').hide();
        if (counter < max_readers)  {
            var newdiv = document.createElement('div');
            newdiv.innerHTML = "<span id='add_readers'><h2><label>Reader's first name: " + "<input type='text' name='reader_names' class='reader_names' id='reader_names'></label><br><label>Teacher: " + "<select name='admin_ids' class='form-control'>{% for admin in admins %} <option value='{{admin.admin_id}}'>{{admin.nameprefix.prefix}} {{admin.name}}</option>{%endfor%}</select></label></h2></span>";
            var buttondiv = document.createElement('div');
            buttondiv.innerHTML = "<span id='add_reader_button'><h3><input type='button' class='btn-primary btn-lrg' value='Add another Reader' onClick=\"addReaders('add_readers');\"> OR &nbsp;&nbsp; <input type='button' class='btn-primary btn-lrg' id='cont3' value='Continue with Registration`'> <h3> You can add up to three Reader/Student names </h3></span>"
            document.getElementById(divName).appendChild(newdiv);
            document.getElementById(divName).appendChild(buttondiv);
            counter++;
        }
        else {
            var newdiv = document.createElement('div');
            newdiv.innerHTML = "<span id='add_readers'><h2><label>Reader's first name: " + "<input type='text' name='reader_names' class='reader_names' id='reader_names'></label><br><label>Teacher: " + "<select name='admin_ids' class='form-control'>{% for admin in admins %} <option value='{{admin.admin_id}}'>{{admin.nameprefix.prefix}} {{admin.name}}</option>{%endfor%}</select></label></h2></span>";
            var contdiv = document.createElement('div');
            contdiv.innerHTML = "<h3><input type='button' class='btn-primary btn-lrg' id='cont3' value='Continue with Registration'></h3>"
            document.getElementById(divName).appendChild(newdiv);
            document.getElementById(divName).appendChild(contdiv);
        }
    };

    //check reader names
    var delay = (function(){
    var timer = 0;
    return function(callback, ms){
        clearTimeout (timer);
        timer = setTimeout(callback, ms);
        };
    });
    $(document).on( "keyup", "#reader_names", function (evt){
        delay(function(){
            var count = 1
            $(".reader_names").each(function() {
                var admin = $('.form-control').val()
                console.log(this.value + " " + admin);
                $.post("/check-reader-name.json", {"reader_name": this.value, "admin_id": admin}, function (data) {
                    console.log(data.name_exists)
                    if (data.name_exists === "true") {
                        evt.preventDefault();
                        var message = "The reader first name is not unique for this Teacher. Try adding a middle or last initial";
                        alert(message);
                    }
                });
            count++
            });
        }, 2500 );
    });

    //handle continue button on add readers screen
    $(document).on( "click", "#cont3", function (evt){
        $('#add_readers').hide();
        $('#add_reader_button').hide(); 
        $('#input_options').show();
        $('#submit_button').show();
    });

    </script>
</div>
</div>
</div>
{% endblock %}
