{% extends 'base.html' %}
{% block content %} 
<div class="container">
<div class="row">
<div class="col-xs-12">
    <script src="https://code.jquery.com/jquery.js"></script>
    <form action="/register_process" method="POST">
    <br>
    <br>

    <!--Screen one: Enter program code-->
    <!--this section toggles show/hide on id "program_code_input"-->
    <span id="program_code_input">
        <h2>
        Ready to sign up? You will be able to log your reader's minutes with a text message!
        <br>
        <br>
        <!-- input box for program code -->
        <label for="program_code">Enter your school's program code:
            <input class="inputbox" type="text" name="prog_code" id="pcode" required>
        <!--not a submit, this button hides program_code_input 
        and shows phone_input. 
        A match on a genuine program code enforced by ajax call in js-->
        <input type="button" class="btn-primary btn-lg" id="cont1" value="Continue">
        </h2>  
        <br>
        <!-- sample image of text message output-->
        <img src="static/text_sample.png" style="width:400px;height:450px;">
    </span>

    <!--Screen two: Enter phone number/login and password-->
    <!--this section toggles show/hide on id "phone_input"-->
    <span id="phone_input" hidden>
        <h2>
            Enter a phone number where you can send and receive text messages
            <br>
            This will be your login/user id
            <br>
            <br>
            <!--phone number input box-->
            <label for="phone">Login/Phone #:
            <input class="inputbox" type="text" name="coach_phone" id="phone_num" placeholder="xxx-xxx-xxxx" required>
            </label> 
        </h2>
        <h3 class="text-center">
            US numbers only. This must be a text message enabled phone.
        </h3> 
        <br>
        <br>
        <h2>
        <!-- password input box -->
        <label>Password:
            <input class="inputbox" type="password" name="password" id="password" required>
        </label>
        </h2>
        <h3 class="text-center">
            Password or Phrase (alpha, numeric, spaces and special characters allowed). 
            <br>
            Minimum 8 characters. Max 30 characters.
        </h3>
        <br>
        <br>
        <!--not a submit, this button hides phone_input and shows add_readers-->
        <!--enter is disabled, input requirements javascript enforced-->
        <input type="button" class="btn-primary btn-lg" id="cont2" value="Next">
    </span>

    <!--Screen three: Input readers-->
    <!--this section toggles show/hide on id "add_readers"-->
    <span id="add_readers" hidden>
        <h2>
        <!--input box for Reader first name-->
        <label>Reader's first name:
            <input class="reader_names" id="reader_names" type="text" name="reader_names">
        </label> 
        <br>
        <!--dropdown menu for Teacher-->
        <label>Teacher:
            <select name="admin_ids" class="form-control">
                {% for admin in admins %}
                     <option value="{{admin.admin_id}}">{{admin.nameprefix.prefix}} {{admin.name}}</option>
                {% endfor %}
            </select>
        </label>
        </h2>
        <br>
    </span>
    <!--this button adds more reader input boxes and Teacher dropdowns-->
    <span id="add_reader_button" hidden>
        <h3>
        <input type="button" class="btn-primary btn-lrg" value="Add another Reader" onClick="addReaders('add_readers');"> OR &nbsp; &nbsp;
        <input type="button" class="btn-primary btn-lrg" id="cont3" value="Continue with Registration">
        <br>
            You can add up to three Reader/Student names 
        </h3>
    </span> 

    <!--Screen four: Options! first, sms-->
    <span id="input_options" hidden>
        <h2>And lastly, a few optional settings. You can login and change these settings at any time. 
        <br>
        <br>
        <h3>
        &nbsp; &nbsp;We can send you text message reminders to log minutes twice a week.
        <label>&nbsp; &nbsp;Send Text message reminders?
        </label>
        <br>
            &nbsp; &nbsp;<input type="radio" name="yesorno" value="yes" id="sms_option">Yes, please send me reminders!
            <br>
            &nbsp; &nbsp;<input type="radio" name="yesorno" value="no" id="sms_option" checked>No, thank you.
        <br>
        <p class="text-center">
        <i>
        NOTE: We will send you a one-time welcome text message to confirm registration.
        </i>
        </p>
        <br>
        <br>

    <!--then second phone number-->
        &nbsp; &nbsp;You can enable another caregiver's phone number to log minutes:
        <label>
            &nbsp; &nbsp;Enable a second phone number(optional) 
        </label>
            <input class="inputbox" type="text" name="alt_phone" id="phone_two" placeholder="xxx-xxx-xxxx">
        
        <br>
        <p class="text-center">
        US numbers only. This must be a text message enabled phone.
        <br>
        <i>
            NOTE: We will send a one-time welcome text message to this number to confirm registration.
        </i>
        </p>

    <!--and then, email!-->
        <br>
        <br>
        <label>&nbsp; &nbsp;Email address (optional):
            <input type="text" class="inputbox" name="email" id="email">
        </label>
        </h3>
    </span>

    <!--Finally, submit-->
    <br><br>
    <span id = "submit_button" hidden>
        <input type="submit" class="btn-primary btn-lg" id="submit" value="Register">
    </span>

    </form>
    <script>
    //For the entire form, prevent submit when Enter key used in text boxes
    $(document).on('keydown', function (evt) {
        //if enter key, do nothing
        if (evt.which === 13) {
            return false;
        }
    });
    // Screen one: program code
    // Handle continue button : Should verify program code is a match 
    $(document).on( "click", "#cont1", function (evt){
        //post to route with value for id pcode
        $.post("/check-program-code.json", {"pcode": $("#pcode").val()}, function (data) {
            //if the code matches, continue and show the next screen
            if (data.code_exists === "true") {
                $('#program_code_input').hide();
                $('#phone_input').show(); 
            //otherwise, generate an alert to try again
            //TODO: Would be nice to limit number of tries
            } else {
                evt.preventDefault();
                $('#cont1').after('<div class="alert alert-danger">You have entered an invalid code. Try Again. </div>');
            }
        });
    });

    // Screen two: phone and password
    // And password is at least 6 chars in length
    $(document).on( "click", "#cont2", function (evt){
        var phoneString = $('#phone_num').val(); 
        var passwordString = $('#password').val();
        //regex will allow (,), ,.,-
        //orig regex ^[0-9]{3}[-).][0-9]{3}-[0-9]{4}$
        //prevent continuing to next screen until pattern matches
        if (! /^\D?(\d{3})\D?\D?(\d{3})\D?(\d{4})$/.test(phoneString)) {
            evt.preventDefault();
            $('#phone_num').after('<div class="alert alert-warning">Please enter a US telephone number with area code</div>');
        //prevent continuing to next screen until password is at least 6 chars
        } else if ( passwordString.length < 8) {
            evt.preventDefault();
            $('#password').after('<div class="alert alert-warning">Please enter a password that is at least 8 characters</div>');
        //hide phone and password input, show add_readers
        } else {
            $('#phone_input').hide();
            $('#add_readers').show();
            $('#add_reader_button').show();
        }
    });

    // Screen three: handlers for add additional readers
    var counter = 1;
    var max_readers = 2;
    function addReaders(divName){
        //hide the original buttons, we'll add them back later, as needed
        $('#add_reader_button').hide();
        //check num of readers
        if (counter < max_readers)  {
            //if below max, add an input box and teacher drop down div
            var newdiv = document.createElement('div');
            newdiv.innerHTML = "<span id='add_readers'><h2><label>Reader's first name: " + "<input type='text' name='reader_names' class='reader_names' id='reader_names'></label><br><label>Teacher: " + "<select name='admin_ids' class='form-control'>{% for admin in admins %} <option value='{{admin.admin_id}}'>{{admin.nameprefix.prefix}} {{admin.name}}</option>{%endfor%}</select></label></h2></span>";
            //Then add the buttons back
            var buttondiv = document.createElement('div');
            buttondiv.innerHTML = "<span id='add_reader_button'><h3><input type='button' class='btn-primary btn-lrg' value='Add another Reader' onClick=\"addReaders('add_readers');\"> OR &nbsp;&nbsp; <input type='button' class='btn-primary btn-lrg' id='cont3' value='Continue with Registration`'> <h3> You can add up to three Reader/Student names </h3></span>"
            document.getElementById(divName).appendChild(newdiv);
            document.getElementById(divName).appendChild(buttondiv);
            counter++;
        }
        else {
            var newdiv = document.createElement('div');
            newdiv.innerHTML = "<span id='add_readers'><h2><label>Reader's first name: " + "<input type='text' name='reader_names' class='reader_names' id='reader_names'></label><br><label>Teacher: " + "<select name='admin_ids' class='form-control'>{% for admin in admins %} <option value='{{admin.admin_id}}'>{{admin.nameprefix.prefix}} {{admin.name}}</option>{%endfor%}</select></label></h2></span>";
            var contdiv = document.createElement('div');
            contdiv.innerHTML = "<h3><input type='button' class='btn-primary btn-lrg' id='cont3' value='Continue with Registration'></h3>"
            document.getElementById(divName).appendChild(newdiv);
            document.getElementById(divName).appendChild(contdiv);
        }
    };

    //check reader names
    var delay = (function(){
    var timer = 0;
    return function(callback, ms){
        clearTimeout (timer);
        timer = setTimeout(callback, ms);
        };
    });
    $(document).on( "keyup", "#reader_names", function (evt){
        delay(function(){
            var count = 1
            $(".reader_names").each(function() {
                var admin = $('.form-control').val()
                console.log(this.value + " " + admin);
                $.post("/check-reader-name.json", {"reader_name": this.value, "admin_id": admin}, function (data) {
                    console.log(data.name_exists)
                    if (data.name_exists === "true") {
                        evt.preventDefault();
                        var message = "The reader first name is not unique for this Teacher. Try adding a middle or last initial";
                        alert(message);
                    }
                });
            count++
            });
        }, 2500 );
    });

    //handle continue button on add readers screen
    $(document).on( "click", "#cont3", function (evt){
        $('#add_readers').hide();
        $('#add_reader_button').hide(); 
        $('#input_options').show();
        $('#submit_button').show();
    });

    </script>
</div>    
</div>
</div>
{% endblock %}
