{% extends 'base.html' %}
{% block content %} 

 <form action="/register_process" method="POST">

    <div>
        <label for="phone">Phone number:
            <input type="text" name="user_id" required>
        </label>
        <div class="information">
            This must be a text message enabled phone. You'll receive daily text message (sms) reminders to log your child's reading progress on this phone. 
        </div>
    </div>
    <br>
    <div>
        <label>Password:
            <input type="password" name="password" required>
        </label>
        <div class="information">It's easier to remember a password phrase, so put something in you'll remember easily. Minimum 10 characters. Max 25 characters.</div>
    </div>
    <br>
    <div>
        <label>Child's First name:
            <input type="text" name="first_name">
        </label>
    </div>
    <br>
    <div>
        <label>Your child's Teacher's name:
            <select name="teacher_id" id="teacher_id">
                {% for teacher in teachers%}
                    <option value={{teacher.teacher_id}}>{{teacher.nametitle.title}} {{teacher.last_name}}</option>
                {%endfor%}
                </select>
            
        </label>
    </div>
    <br>
    <div>
        <label>Email address (optional):
            <input type="text" name="email">
        </label>
        <div class="information">
            We'll use this only for application notifications or to reset your password.
        </div>
    </div>
    <div>
        <input type="submit" value="Register">
    </div>

</form>

{% endblock %}
