{% extends 'base.html' %}
{% block content %}

<div class="container">
<div class="row">
<div class="col-xs-12">
<body>
    <h1>{{ reader.first_name }}</h1>
    <br>
        <h2>TOTAL minutes read: {{reader_totals[reader.first_name]}}</h2>
    <br>
    <br>
    <h3>Summer 2017 Reading Logs</h3>
    <table>
        <col width="100">
        <col width="130">
        <col width="400">
        <tr>
            <th>Date</th>
            <th>Minutes Read</th>
            <th>Title</th>
        </tr>
        {% for log_entry in reader_logs %} 
        <tr>
            <td>{{log_entry[0]}}</td>
            <td>{{log_entry[1]}}</td>
            <td>{{log_entry[2]}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</div>
</div>
</div>

{% endblock %}
